@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .header {
        flex-direction: column;
    }

    .align-items-center {
        align-items: flex-start;
    }

    .search {
        margin-top: 1rem;
    }

    .mypage {
        flex-direction: column;
    }

    .status {
        width: 100%;
    }

    .status__card {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .header-icon {
        margin: 10px 0;
    }

    .header-search {
        margin: 10px 0;
    }

    .header-nav {
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    .nav-item {
        margin: 5px 0;
    }

    .sell-button {
        margin: 5px 0;
    }

    .list {
        flex-direction: column;
        align-items: center;
    }

    .list-item {
        text-align: center;
        margin: 5px 0;
    }

    .line {
        width: 90%;
        margin: 10px 0;
    }

    .products-list {
        flex-direction: column;
        align-items: center;
    }

    .products-item {
        margin: 10px 0;
    }

    .product-detail {
        flex-direction: column;
        align-items: center;
    }

    .product-image-area,
    .product-description-area {
        width: 90%;
        margin: 10px 0;
    }

    .product-title,
    .product-actions,
    .purchase-area,
    .product-description,
    .product-info,
    .product-comments {
        width: 90%;
        margin: 10px 0;
    }
}